<?xml version="1.0"?>

<!--
  ~ Developer
  ~
  ~ @author      Trong Le (trongithust@gmail.com)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Stdlib\DateTime\Timezone" type="Menacoders\Datepicker\Framework\Timezone"/>
    <preference for="Magento\Ui\Component\Form\Element\DataType\Date" type="Menacoders\Datepicker\Ui\Component\Form\Element\DataType\Date"/>
</config>
